* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-ubuntu), sans-serif;
}

hr {
  margin: 16px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

ul,
ol {
  padding-left: 20px;
  margin: 15px 0;
}
